@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  max-width: 1350px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

#input {
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
  padding: 9px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
}

button {
  font-size: 16px;
  font-weight: bold;
  display: block;
  border: none;
  color: #bd1dbb;
  background-color: #510d4b;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}

.conteiner-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
  max-width: 500px;
  padding: 0px 20px;
  margin: 70px auto auto auto;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 1300px;
  margin: 60px auto auto auto;
  padding: 0px 20px;
}

.div-gale {
  max-width: 280px;
  box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
  border-radius: 0px 0px 8px 8px;
}

.div-gale img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.div-gale a {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: #bd1dbb;
  margin: 8px 0px 8px 0px;
}

#show-more-button {
  display: none;
  margin: 25px auto 15px auto;
}
